html,body{
  margin: 0;
  padding: 0;
  /* text-align: center; */
}

#container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
  /* background-color: goldenrod; */
}

#header_nav {
  /* margin: 0 auto; */
  height: 60px;
}

#content_form {
  /* width: 960px; */
  display: block;
  margin: 0 auto;
  height: auto;
  text-align: center;
  padding-bottom: 60px;
  /* background-color: bisque; */
}

/* 固定页脚 */
#footer_about {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;/* 页脚的高度 */
  margin: 0 auto;
  background-color: #fbfbfb;
}

#top_left,#footer_left {
  float: left;
}

#top_right,#footer_right {
  float: right;
}

#show_weather,#show_id {
  display: inline-block;
}

/* 图片尺寸调整 */

.img_weather {
  display: inline-block;
  height: 23px;
  width: 23px;
  transform: translateY(5px);
}

.sp_img_id {
  display: inline-block;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border-style: solid;
  border-color: #4e71f2;
  border-width: 1px;
  transform: translateY(8px);
}

.img_id {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  padding: 2px;
}

.img_baidu {
  height: 129px;
  width: 270px;
  margin: 0 0 15px 0;
}


/* 文字样式调整 */
#header_nav a, .txt_weather, .txt_id{
  text-decoration: none;
  font-size: 13px;
  color: #222222;
}

#footer_about a {
  text-decoration: none;
  font-size: 12px;
  color: #9195a3;
}

#footer_right {
  font-size: 12px;
  color: #9195a3;
}

/* 垂直居中 */
#footer_left:before, #footer_right:before, #top_left:before, #top_right:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

/* 标签间距 */
#header_nav {
  padding: 0 24px
}

#header_nav a {
  margin: 0 31px 0 0;
}

#top_right a, #show_id {
  margin: 0 0 0 32px;
}

.img_weather, #footer_right {
  margin: 0 4px 0 0;
}

#footer_left a, #footer_right span, #footer_right a {
  margin: 0 20px 0 0;
}

#footer_left {
  padding: 0 0 0 24px;
}

/* 表单输入及按钮样式 */
input[type=text] {
  width: 512px;
  height: 44px;
  padding: 12px 16px;
  font-size: 16px;
  margin: 0 auto;
  vertical-align: top;
  box-shadow: none;
  border: none;
  border-radius: 10px 0 0 10px;
  border: 2px solid #c4c7ce;
  overflow: hidden;
}

input[type=text]:focus {
  outline: none;
  border: 2px solid #4e6ef2;
}

#sp_input {
  margin: 0 -7px 0 0;
}

input[type=submit] {
  width: 108px;
  height: 44px;
  background-color: #4e6ef2;
  border-radius: 0 10px 10px 0;
  box-shadow: none;
  border: none;
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}